In [ ]:
import os
import numpy as np
import pandas as pd
from statsmodels.tsa.seasonal import STL
from tqdm import tqdm
import multiprocessing
from joblib import Parallel, delayed

In [2]:
import matplotlib.pyplot as plt
plt.rcParams.update(**{'figure.dpi': 150})

# Sales and Categories

In [3]:
sales_train_validation = pd.read_csv('./datasets/m5-forecasting-accuracy/sales_train_validation.csv')
#sales_train_validation = sales_train_validation[sales_train_validation['dept_id']!='FOODS_3']
#sales_train_validation = sales_train_validation[sales_train_validation['dept_id']!='HOUSEHOLD_2']
display(sales_train_validation)

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,2,0,0,0,0,0,1,0,0,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,1,0,2,0,1,0,0,1,0
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Sell prices

In [4]:
sell_prices = np.load('./datasets/m5-forecasting-accuracy/sell_prices_individual.npy', allow_pickle=True)

def merge_sell_prices(i):
    info = list(sales_train_validation.iloc[i].values[:6])
    prices = list(sell_prices[i])
    res = info + prices
    del info
    del prices
    return res

In [5]:
rows = []
for i in tqdm(range(len(sales_train_validation)), total=len(sales_train_validation)):
    rows.append(merge_sell_prices(i))

100%|██████████| 30490/30490 [00:13<00:00, 2244.27it/s]

In [6]:
columns = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']
columns = columns + [f's_{i}' for i in range(1913)]
sell_prices = pd.DataFrame(rows, columns=columns)
display(sell_prices)

,id,item_id,dept_id,cat_id,store_id,state_id,s_0,s_1,s_2,s_3,...,s_1903,s_1904,s_1905,s_1906,s_1907,s_1908,s_1909,s_1910,s_1911,s_1912
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,NaN,NaN,NaN,NaN,...,8.38,8.38,8.38,8.38,8.38,8.38,8.38,8.38,8.38,8.38
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,NaN,NaN,NaN,NaN,...,3.97,3.97,3.97,3.97,3.97,3.97,3.97,3.97,3.97,3.97
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,NaN,NaN,NaN,NaN,...,2.97,2.97,2.97,2.97,2.97,2.97,2.97,2.97,2.97,2.97
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,NaN,NaN,NaN,NaN,...,4.64,4.64,4.64,4.64,4.64,4.64,4.64,4.64,4.64,4.64
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,NaN,NaN,NaN,NaN,...,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,2.50,2.50,2.50,2.50,...,2.98,2.98,2.98,2.98,2.98,2.98,2.98,2.98,2.98,2.98
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,2.47,2.47,2.47,2.47,...,2.48,2.48,2.48,2.48,2.48,2.48,2.48,2.48,2.48,2.48
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,4.00,4.00,4.00,4.00,...,3.98,3.98,3.98,3.98,3.98,3.98,3.98,3.98,3.98,3.98
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,NaN,NaN,NaN,NaN,...,1.28,1.28,1.28,1.28,1.28,1.28,1.28,1.28,1.28,1.28
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,NaN,NaN,NaN,NaN,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

# Aggregation

## Sales

In [7]:
sales_items = sales_train_validation.groupby(['item_id', 'cat_id', 'store_id']).aggregate('sum')
sales_items.reset_index(inplace=True)
print(sales_items['cat_id'].value_counts())
print(sales_items['store_id'].value_counts())
display(sales_items)

FOODS        14370
HOUSEHOLD    10470
HOBBIES       5650
Name: cat_id, dtype: int64
CA_1    3049
CA_2    3049
CA_3    3049
CA_4    3049
TX_1    3049
TX_2    3049
TX_3    3049
WI_1    3049
WI_2    3049
WI_3    3049
Name: store_id, dtype: int64

/tmp/ipykernel_2805728/1487184975.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales_items = sales_train_validation.groupby(['item_id', 'cat_id', 'store_id']).aggregate('sum')

,item_id,cat_id,store_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,FOODS_1_001,FOODS,CA_1,3,0,0,1,4,2,0,...,0,2,0,4,1,1,0,1,1,0
1,FOODS_1_001,FOODS,CA_2,2,0,0,0,1,0,8,...,1,0,14,0,1,1,4,0,0,4
2,FOODS_1_001,FOODS,CA_3,1,2,1,1,1,2,0,...,0,0,13,0,0,0,0,0,1,0
3,FOODS_1_001,FOODS,CA_4,0,1,1,1,1,1,0,...,0,0,0,2,0,0,0,1,1,1
4,FOODS_1_001,FOODS,TX_1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,HOUSEHOLD_2_516,HOUSEHOLD,TX_2,0,1,0,0,0,0,1,...,0,1,1,0,0,1,0,0,0,0
30486,HOUSEHOLD_2_516,HOUSEHOLD,TX_3,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30487,HOUSEHOLD_2_516,HOUSEHOLD,WI_1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
30488,HOUSEHOLD_2_516,HOUSEHOLD,WI_2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
30489,HOUSEHOLD_2_516,HOUSEHOLD,WI_3,0,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

## Sell prices

In [8]:
sell_prices = sell_prices.groupby(['item_id', 'cat_id', 'store_id']).aggregate('mean').fillna(0)
sell_prices.reset_index(inplace=True)
print(sell_prices['cat_id'].value_counts())
print(sales_items['store_id'].value_counts())
display(sell_prices)

/tmp/ipykernel_2805728/1944782260.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sell_prices = sell_prices.groupby(['item_id', 'cat_id', 'store_id']).aggregate('mean').fillna(0)

FOODS        14370
HOUSEHOLD    10470
HOBBIES       5650
Name: cat_id, dtype: int64
CA_1    3049
CA_2    3049
CA_3    3049
CA_4    3049
TX_1    3049
TX_2    3049
TX_3    3049
WI_1    3049
WI_2    3049
WI_3    3049
Name: store_id, dtype: int64

,item_id,cat_id,store_id,s_0,s_1,s_2,s_3,s_4,s_5,s_6,...,s_1903,s_1904,s_1905,s_1906,s_1907,s_1908,s_1909,s_1910,s_1911,s_1912
0,FOODS_1_001,FOODS,CA_1,2.00,2.00,2.00,2.00,2.00,2.00,2.00,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
1,FOODS_1_001,FOODS,CA_2,2.00,2.00,2.00,2.00,2.00,2.00,2.00,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
2,FOODS_1_001,FOODS,CA_3,2.00,2.00,2.00,2.00,2.00,2.00,2.00,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
3,FOODS_1_001,FOODS,CA_4,2.00,2.00,2.00,2.00,2.00,2.00,2.00,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
4,FOODS_1_001,FOODS,TX_1,2.00,2.00,2.00,2.00,2.00,2.00,2.00,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,HOUSEHOLD_2_516,HOUSEHOLD,TX_2,5.94,5.94,5.94,5.94,5.94,5.94,5.94,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94
30486,HOUSEHOLD_2_516,HOUSEHOLD,TX_3,5.94,5.94,5.94,5.94,5.94,5.94,5.94,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94
30487,HOUSEHOLD_2_516,HOUSEHOLD,WI_1,5.94,5.94,5.94,5.94,5.94,5.94,5.94,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94
30488,HOUSEHOLD_2_516,HOUSEHOLD,WI_2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94
30489,HOUSEHOLD_2_516,HOUSEHOLD,WI_3,5.94,5.94,5.94,5.94,5.94,5.94,5.94,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94

## Merge

In [9]:
sales_items = sales_items.merge(sell_prices, how='left', on=['item_id', 'cat_id', 'store_id'])
display(sales_items)

,item_id,cat_id,store_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,...,s_1903,s_1904,s_1905,s_1906,s_1907,s_1908,s_1909,s_1910,s_1911,s_1912
0,FOODS_1_001,FOODS,CA_1,3,0,0,1,4,2,0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
1,FOODS_1_001,FOODS,CA_2,2,0,0,0,1,0,8,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
2,FOODS_1_001,FOODS,CA_3,1,2,1,1,1,2,0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
3,FOODS_1_001,FOODS,CA_4,0,1,1,1,1,1,0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
4,FOODS_1_001,FOODS,TX_1,0,1,1,0,0,0,0,...,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24,2.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,HOUSEHOLD_2_516,HOUSEHOLD,TX_2,0,1,0,0,0,0,1,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94
30486,HOUSEHOLD_2_516,HOUSEHOLD,TX_3,2,0,0,0,0,0,0,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94
30487,HOUSEHOLD_2_516,HOUSEHOLD,WI_1,0,0,0,1,0,0,0,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94
30488,HOUSEHOLD_2_516,HOUSEHOLD,WI_2,0,0,0,0,0,0,0,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94
30489,HOUSEHOLD_2_516,HOUSEHOLD,WI_3,0,1,0,1,0,1,1,...,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94,5.94

# Drop sales with many zeros

In [10]:
tmp = sales_items.values[:,2:2+1913]
zero_counts = np.array([arr[np.where(arr==0)].size for arr in tmp])
flags = []
for i in range(len(zero_counts)):
    if zero_counts[i] < 400:
        flags.append(i)
print(flags)
del tmp

[104, 105, 106, 160, 161, 162, 163, 165, 167, 168, 169, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 591, 617, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 841, 842, 855, 856, 945, 947, 948, 1031, 1052, 1580, 1581, 1582, 1583, 1587, 1588, 1589, 1665, 1666, 1680, 1682, 1691, 1791, 1792, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2312, 2319, 2340, 2342, 2343, 2344, 2346, 2450, 2452, 2675, 2692, 2695, 2699, 2746, 2974, 2975, 2976, 3425, 3661, 3662, 3664, 3665, 3666, 3667, 3668, 3782, 3784, 3785, 3786, 3788, 3789, 3858, 3950, 3951, 3952, 3953, 3954, 3955, 3956, 3975, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, 4119, 4134, 4184, 4185, 4186, 4470, 4472, 4474, 4475, 4476, 4580, 4582, 4583, 4900, 4902, 4903, 4904, 4905, 4906, 4907, 4908, 4909, 4991, 4994, 4996, 4998, 5070, 5072, 5073, 5075, 5079, 5130, 5132, 5133, 5182, 5364, 5365, 5366, 5369, 5390, 5392, 5399, 5404, 5405, 5406, 5409, 5478, 5562, 5565, 5566, 5610, 5612, 5613, 5614, 5615, 5616, 5710, 5712, 5730, 5732, 5742, 5745, 5746, 5850, 5851, 5852, 5853, 5854, 5855, 5856, 5880, 5882, 5884, 5886, 5982, 5984, 5985, 5986, 6022, 6129, 6202, 6242, 6362, 6392, 6552, 6554, 6555, 6556, 6557, 6558, 6559, 6790, 6792, 6795, 6880, 6882, 6885, 6886, 6915, 6920, 6921, 6922, 6923, 6924, 6925, 6926, 6927, 6928, 6929, 6980, 6982, 6985, 6986, 7022, 7090, 7092, 7110, 7111, 7112, 7113, 7114, 7115, 7116, 7117, 7118, 7119, 7158, 7192, 7210, 7212, 7214, 7215, 7216, 7218, 7219, 7250, 7251, 7252, 7257, 7259, 7272, 7282, 7302, 7360, 7362, 7363, 7390, 7391, 7392, 7395, 7398, 7448, 7450, 7452, 7480, 7482, 7483, 7484, 7485, 7486, 7488, 7489, 7510, 7562, 7563, 7569, 7664, 7666, 7668, 7669, 7680, 7681, 7682, 7683, 7685, 7750, 7892, 7904, 7905, 7906, 7909, 7967, 8067, 8076, 8077, 8132, 8134, 8135, 8140, 8141, 8142, 8143, 8144, 8145, 8146, 8147, 8148, 8149, 8150, 8152, 8276, 8277, 8290, 8291, 8292, 8293, 8380, 8381, 8382, 8383, 8384, 8385, 8386, 8387, 8388, 8389, 8390, 8392, 8395, 8396, 8400, 8401, 8402, 8403, 8404, 8405, 8406, 8407, 8408, 8409, 8420, 8421, 8422, 8424, 8425, 8426, 8433, 8440, 8441, 8442, 8443, 8462, 8602, 8640, 8641, 8642, 8643, 8644, 8645, 8646, 8647, 8648, 8649, 8702, 8750, 8752, 8755, 8772, 8850, 8952, 9012, 9022, 9028, 9029, 9032, 9070, 9071, 9072, 9073, 9074, 9075, 9076, 9077, 9078, 9079, 9120, 9122, 9124, 9126, 9128, 9132, 9160, 9161, 9162, 9164, 9165, 9168, 9169, 9170, 9172, 9230, 9232, 9250, 9251, 9252, 9253, 9257, 9310, 9311, 9312, 9313, 9317, 9319, 9360, 9362, 9365, 9390, 9392, 9420, 9422, 9442, 9580, 9582, 9583, 9584, 9586, 9588, 9602, 9608, 9609, 9610, 9614, 9615, 9750, 9751, 9754, 9755, 9756, 9759, 9792, 9801, 9802, 9880, 9881, 9882, 9884, 9885, 9886, 9887, 9888, 9889, 9890, 9891, 9892, 9893, 9894, 9895, 9896, 9897, 9898, 9899, 9902, 10010, 10012, 10013, 10015, 10017, 10018, 10019, 10062, 10120, 10121, 10122, 10123, 10160, 10162, 10165, 10169, 10180, 10181, 10182, 10183, 10185, 10187, 10188, 10189, 10190, 10191, 10192, 10194, 10195, 10196, 10199, 10242, 10584, 10610, 10611, 10612, 10613, 10616, 10617, 10618, 10619, 10700, 10701, 10702, 10703, 10704, 10705, 10706, 10707, 10708, 10709, 10722, 10727, 10729, 10740, 10741, 10742, 10744, 10745, 10746, 10747, 10748, 10749, 10802, 10804, 10809, 10810, 10811, 10812, 10813, 10814, 10816, 10817, 10818, 10819, 10850, 10851, 10852, 10853, 10854, 10855, 10856, 10859, 10880, 10881, 10882, 10884, 10890, 10891, 10892, 10893, 10894, 10895, 10896, 10897, 10899, 10922, 10930, 10932, 11032, 11074, 11075, 11079, 11102, 11130, 11131, 11132, 11133, 11134, 11135, 11136, 11137, 11138, 11139, 11151, 11152, 11154, 11155, 11156, 11157, 11158, 11159, 11280, 11281, 11282, 11283, 11284, 11285, 11286, 11289, 11362, 11380, 11381, 11382, 11383, 11384, 11385, 11386, 11388, 11423, 11460, 11462, 11463, 11472, 11530, 11532, 11535, 11537, 11580, 11582, 11584, 11585, 11586, 11592, 11599, 11632, 11670, 11671, 11672, 11673, 11674, 11675, 11676, 11677, 11678, 11679, 11740, 11742, 11745, 11772, 11773, 11822, 11824, 11825, 11826, 11840, 11842, 11860, 11865, 11866, 11897, 11980, 11981, 11982, 11983, 11984, 11985, 11986, 11987, 11988, 11989, 11992, 11994, 11995, 11996, 12042, 12062, 12080, 12082, 12085, 12222, 12292, 12400, 12402, 12405, 12442, 12460, 12462, 12468, 12469, 12471, 12472, 12473, 12476, 12477, 12569, 12640, 12643, 12645, 12647, 12649, 12660, 12664, 12665, 12800, 12801, 12802, 12803, 12804, 12805, 12806, 12807, 12808, 12809, 12844, 12845, 12846, 12847, 12849, 12862, 12864, 12865, 12930, 12931, 12932, 12933, 12934, 12935, 12936, 12938, 12939, 13060, 13061, 13062, 13063, 13064, 13065, 13066, 13067, 13068, 13069, 13070, 13072, 13073, 13074, 13076, 13078, 13090, 13091, 13092, 13093, 13094, 13095, 13096, 13097, 13099, 13130, 13131, 13132, 13133, 13134, 13135, 13136, 13137, 13138, 13139, 13150, 13151, 13152, 13153, 13155, 13156, 13157, 13158, 13159, 13222, 13250, 13251, 13252, 13253, 13254, 13255, 13256, 13257, 13258, 13259, 13362, 13400, 13407, 13408, 13440, 13441, 13442, 13444, 13445, 13446, 13448, 13449, 13500, 13501, 13502, 13503, 13505, 13530, 13532, 13533, 13535, 13536, 13539, 13550, 13551, 13552, 13554, 13612, 13650, 13652, 13653, 13654, 13655, 13656, 13658, 13659, 13752, 13910, 13912, 13915, 13916, 13918, 13919, 13940, 13941, 13942, 13943, 13944, 13945, 13946, 14012, 14015, 14017, 14019, 14020, 14022, 14032, 14131, 14132, 14134, 14135, 14136, 14138, 14139, 14160, 14162, 14166, 14169, 14170, 14171, 14172, 14173, 14174, 14177, 14290, 14292, 14298, 14312, 14401, 14402, 14409, 14510, 14512, 14513, 14520, 14522, 14792, 15082, 15353, 15407, 15660, 15790, 15792, 16312, 16392, 16622, 16733, 16830, 16832, 16970, 17512, 17514, 17515, 17516, 17587, 17589, 17650, 17651, 17652, 17655, 17656, 17737, 17760, 17990, 20122, 20280, 20281, 20282, 20286, 20287, 20288, 20289, 20380, 20382, 20404, 20406, 20442, 20472, 20522, 20540, 20541, 20542, 20545, 20547, 20548, 20710, 20711, 20712, 20717, 20718, 20719, 20745, 20749, 20821, 20822, 20824, 20825, 20826, 20827, 20828, 20829, 20852, 20982, 21072, 21078, 21092, 21110, 21111, 21112, 21114, 21115, 21116, 21117, 21118, 21150, 21151, 21152, 21154, 21155, 21156, 21159, 21192, 21261, 21267, 21466, 21480, 21481, 21482, 21486, 21487, 21488, 21489, 21700, 21702, 21705, 21706, 21760, 21762, 21764, 21765, 21766, 21767, 21768, 21769, 21930, 21931, 21932, 21934, 21935, 21940, 21942, 21950, 21951, 21952, 21954, 21955, 21956, 21957, 21958, 21959, 22310, 22311, 22312, 22314, 22315, 22316, 22318, 22319, 22322, 22324, 22325, 22390, 22392, 22394, 22395, 22396, 22397, 22398, 22399, 22432, 22434, 22435, 22436, 22438, 22439, 22470, 22472, 22474, 22475, 22476, 22682, 22702, 22822, 22890, 22891, 22892, 22894, 22895, 22896, 22897, 22898, 22980, 22981, 22982, 22985, 22986, 22987, 22989, 23142, 23144, 23145, 23146, 23147, 23148, 23168, 23192, 23221, 23224, 23225, 23226, 23227, 23228, 23229, 23394, 23395, 23396, 23421, 23422, 23452, 23642, 23662, 23670, 23671, 23672, 23673, 23674, 23675, 23676, 23734, 23735, 23736, 23812, 23818, 23831, 23832, 23834, 23835, 23836, 23837, 23838, 23839, 23857, 23858, 23859, 24032, 24082, 24084, 24085, 24086, 24171, 24172, 24174, 24261, 24262, 24311, 24312, 24314, 24316, 24318, 24319, 24338, 24339, 24375, 24661, 24662, 24664, 24665, 24666, 24668, 24707, 24708, 24860, 24862, 24864, 24865, 24900, 24902, 24904, 24952, 24981, 24982, 24984, 24985, 25080, 25082, 25084, 25085, 25086, 25088, 25089, 25130, 25131, 25132, 25134, 25135, 25136, 25137, 25138, 25139, 25270, 25272, 25275, 25276, 25291, 25292, 26932, 28822, 29412, 29592, 30422]

In [11]:
sales_items = sales_items.iloc[flags]
print(sales_items['cat_id'].value_counts())
print(sales_items['store_id'].value_counts())
display(sales_items)

FOODS        858
HOUSEHOLD    256
HOBBIES       36
Name: cat_id, dtype: int64
CA_3    244
CA_1    144
TX_2    130
TX_3    113
TX_1    107
WI_3     94
CA_2     92
WI_2     84
WI_1     74
CA_4     68
Name: store_id, dtype: int64

,item_id,cat_id,store_id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,...,s_1903,s_1904,s_1905,s_1906,s_1907,s_1908,s_1909,s_1910,s_1911,s_1912
104,FOODS_1_012,FOODS,TX_1,0,0,0,0,0,0,0,...,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27
105,FOODS_1_012,FOODS,TX_2,0,0,0,0,0,0,0,...,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27
106,FOODS_1_012,FOODS,TX_3,0,0,0,0,0,0,0,...,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27
160,FOODS_1_018,FOODS,CA_1,17,3,8,2,5,0,1,...,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98
161,FOODS_1_018,FOODS,CA_2,4,1,5,4,3,3,4,...,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26932,HOUSEHOLD_2_160,HOUSEHOLD,CA_3,0,0,0,0,0,0,0,...,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93
28822,HOUSEHOLD_2_350,HOUSEHOLD,CA_3,5,5,1,5,7,0,7,...,2.94,2.94,2.94,2.94,2.94,2.94,2.94,2.94,2.94,2.94
29412,HOUSEHOLD_2_409,HOUSEHOLD,CA_3,0,0,0,0,0,0,0,...,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93
29592,HOUSEHOLD_2_427,HOUSEHOLD,CA_3,2,4,0,2,0,2,2,...,3.48,3.48,3.48,3.48,3.48,3.48,3.48,3.48,3.48,3.48
30422,HOUSEHOLD_2_510,HOUSEHOLD,CA_3,0,0,0,0,0,0,0,...,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93

In [12]:
sales_items['cat_store_id'] = sales_items['cat_id'] + '_' + sales_items['store_id']
columns = list(sales_items.columns.values[:3]) + ['cat_store_id'] + list(sales_items.columns.values[3:-1])
sales_items = sales_items[columns]
print(sales_items['cat_store_id'].value_counts())
display(sales_items)

FOODS_CA_3        172
FOODS_CA_1        112
FOODS_TX_2         98
FOODS_TX_3         83
FOODS_TX_1         78
FOODS_WI_3         73
FOODS_CA_2         66
FOODS_CA_4         64
HOUSEHOLD_CA_3     60
FOODS_WI_2         59
FOODS_WI_1         53
HOUSEHOLD_TX_2     30
HOUSEHOLD_TX_1     28
HOUSEHOLD_TX_3     28
HOUSEHOLD_WI_2     25
HOUSEHOLD_CA_2     24
HOUSEHOLD_CA_1     23
HOUSEHOLD_WI_3     19
HOUSEHOLD_WI_1     18
HOBBIES_CA_3       12
HOBBIES_CA_1        9
HOBBIES_CA_4        3
HOBBIES_WI_1        3
HOBBIES_TX_3        2
HOBBIES_TX_2        2
HOBBIES_WI_3        2
HOBBIES_CA_2        2
HOBBIES_TX_1        1
HOUSEHOLD_CA_4      1
Name: cat_store_id, dtype: int64

,item_id,cat_id,store_id,cat_store_id,d_1,d_2,d_3,d_4,d_5,d_6,...,s_1903,s_1904,s_1905,s_1906,s_1907,s_1908,s_1909,s_1910,s_1911,s_1912
104,FOODS_1_012,FOODS,TX_1,FOODS_TX_1,0,0,0,0,0,0,...,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27
105,FOODS_1_012,FOODS,TX_2,FOODS_TX_2,0,0,0,0,0,0,...,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27
106,FOODS_1_012,FOODS,TX_3,FOODS_TX_3,0,0,0,0,0,0,...,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27,6.27
160,FOODS_1_018,FOODS,CA_1,FOODS_CA_1,17,3,8,2,5,0,...,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98
161,FOODS_1_018,FOODS,CA_2,FOODS_CA_2,4,1,5,4,3,3,...,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26932,HOUSEHOLD_2_160,HOUSEHOLD,CA_3,HOUSEHOLD_CA_3,0,0,0,0,0,0,...,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93
28822,HOUSEHOLD_2_350,HOUSEHOLD,CA_3,HOUSEHOLD_CA_3,5,5,1,5,7,0,...,2.94,2.94,2.94,2.94,2.94,2.94,2.94,2.94,2.94,2.94
29412,HOUSEHOLD_2_409,HOUSEHOLD,CA_3,HOUSEHOLD_CA_3,0,0,0,0,0,0,...,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93
29592,HOUSEHOLD_2_427,HOUSEHOLD,CA_3,HOUSEHOLD_CA_3,2,4,0,2,0,2,...,3.48,3.48,3.48,3.48,3.48,3.48,3.48,3.48,3.48,3.48
30422,HOUSEHOLD_2_510,HOUSEHOLD,CA_3,HOUSEHOLD_CA_3,0,0,0,0,0,0,...,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93,3.93

# Seasonal-trend decomposition

In [13]:
def process_data(i):
    data = sales_items.values[i][4:4+1913]
    prices = sales_items.values[i][4+1913:]
    sd = STL(data, period=7).fit()
    seasonal = np.array(sd.seasonal).astype(np.float32)
    trend = np.array(sd.trend).astype(np.float32)
    sale = seasonal+trend
    sell_price = prices
    cat_id = sales_items.values[i][1]
    store_id = sales_items.values[i][2]
    cat_store_id = sales_items.values[i][3]
    return sale, sell_price, cat_id, store_id, cat_store_id


def parallel_process_data(num_processes):
    res = Parallel(n_jobs=num_processes)(delayed(process_data)(i) for i in tqdm(range(1150), total=1150))
    return res


num_processes = multiprocessing.cpu_count()
res = parallel_process_data(num_processes)
res = np.array(res)
sales, sell_prices, cat_id, store_id, cat_store_id = res[:,0], res[:,1], res[:,2], res[:,3], res[:,4]
sales = np.vstack(sales).astype(np.float32)
sell_prices = np.vstack(sell_prices).astype(np.float32)
cat_id = np.vstack(cat_id).squeeze(1)
store_id = np.vstack(store_id).squeeze(1)
cat_store_id = np.vstack(cat_store_id).squeeze(1)

del res
print(sales.shape, sell_prices.shape, cat_id.shape, store_id.shape, cat_store_id.shape)
np.save(os.path.join('datasets', 'm5-forecasting-accuracy', 'sales.npy'), sales)
np.save(os.path.join('datasets', 'm5-forecasting-accuracy', 'sell_prices.npy'), sell_prices)
np.save(os.path.join('datasets', 'm5-forecasting-accuracy', 'cat_id.npy'), cat_id)
np.save(os.path.join('datasets', 'm5-forecasting-accuracy', 'store_id.npy'), store_id)
np.save(os.path.join('datasets', 'm5-forecasting-accuracy', 'cat_store_id.npy'), cat_store_id)

100%|██████████| 1150/1150 [00:44<00:00, 25.78it/s]

(1150, 1913) (1150, 1913) (1150,) (1150,) (1150,)

/tmp/ipykernel_2805728/3362660936.py:22: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  res = np.array(res)

# Calendar

In [14]:
calendar = pd.read_csv('./datasets/m5-forecasting-accuracy/calendar.csv')
calendar = calendar[:1913]
calendar = calendar[['date', 'event_name_1', 'event_type_1']]
calendar['date'] = pd.to_datetime(calendar.date)
display(calendar)
print(len(calendar.event_name_1.unique()), calendar.event_name_1.unique())
print(len(calendar.event_type_1.unique()), calendar.event_type_1.unique())

           date event_name_1 event_type_1
0    2011-01-29          NaN          NaN
1    2011-01-30          NaN          NaN
2    2011-01-31          NaN          NaN
3    2011-02-01          NaN          NaN
4    2011-02-02          NaN          NaN
...         ...          ...          ...
1908 2016-04-20          NaN          NaN
1909 2016-04-21          NaN          NaN
1910 2016-04-22          NaN          NaN
1911 2016-04-23          NaN          NaN
1912 2016-04-24          NaN          NaN

[1913 rows x 3 columns]

31 [nan 'SuperBowl' 'ValentinesDay' 'PresidentsDay' 'LentStart' 'LentWeek2'
 'StPatricksDay' 'Purim End' 'OrthodoxEaster' 'Pesach End' 'Cinco De Mayo'
 "Mother's day" 'MemorialDay' 'NBAFinalsStart' 'NBAFinalsEnd'
 "Father's day" 'IndependenceDay' 'Ramadan starts' 'Eid al-Fitr'
 'LaborDay' 'ColumbusDay' 'Halloween' 'EidAlAdha' 'VeteransDay'
 'Thanksgiving' 'Christmas' 'Chanukah End' 'NewYear' 'OrthodoxChristmas'
 'MartinLutherKingDay' 'Easter']
5 [nan 'Sporting' 'Cultural' 'National' 'Religious']

In [15]:
calendar['day_of_week'] = calendar.date.apply(lambda x: x.dayofweek)
calendar['day_of_month'] = calendar.date.apply(lambda x: x.day) 
calendar['day_of_year'] = calendar.date.apply(lambda x: x.dayofyear)
calendar['month_of_year'] = calendar.date.apply(lambda x: x.month)
calendar['week_of_year'] = calendar.date.apply(lambda x: x.weekofyear)

calendar = calendar[['date', 'day_of_week', 'day_of_month', 'day_of_year', 'month_of_year', 'week_of_year', 'event_name_1', 'event_type_1']]

display(calendar)

,date,day_of_week,day_of_month,day_of_year,month_of_year,week_of_year,event_name_1,event_type_1
0,2011-01-29,5,29,29,1,4,NaN,NaN
1,2011-01-30,6,30,30,1,4,NaN,NaN
2,2011-01-31,0,31,31,1,5,NaN,NaN
3,2011-02-01,1,1,32,2,5,NaN,NaN
4,2011-02-02,2,2,33,2,5,NaN,NaN
...,...,...,...,...,...,...,...,...
1908,2016-04-20,2,20,111,4,16,NaN,NaN
1909,2016-04-21,3,21,112,4,16,NaN,NaN
1910,2016-04-22,4,22,113,4,16,NaN,NaN
1911,2016-04-23,5,23,114,4,16,NaN,NaN
1912,2016-04-24,6,24,115,4,16,NaN,NaN

In [16]:
dict_event_name_1 = dict.fromkeys(calendar.event_name_1.unique())
for i in range(len(dict_event_name_1)):
    key = list(dict_event_name_1.keys())[i]
    dict_event_name_1[key] = i

def encode_event_name_1(event_name):
    return dict_event_name_1[event_name]

dict_event_type_1 = dict.fromkeys(calendar.event_type_1.unique())
for i in range(len(dict_event_type_1)):
    key = list(dict_event_type_1.keys())[i]
    dict_event_type_1[key] = i

def encode_event_type_1(event_type):
    return dict_event_type_1[event_type]

In [17]:
calendar.event_name_1 = calendar.event_name_1.apply(encode_event_name_1) # transform event_name
calendar.event_type_1 = calendar.event_type_1.apply(encode_event_type_1) # transform event_type
display(calendar)
print(calendar.event_name_1.unique())
print(calendar.event_type_1.unique())

,date,day_of_week,day_of_month,day_of_year,month_of_year,week_of_year,event_name_1,event_type_1
0,2011-01-29,5,29,29,1,4,0,0
1,2011-01-30,6,30,30,1,4,0,0
2,2011-01-31,0,31,31,1,5,0,0
3,2011-02-01,1,1,32,2,5,0,0
4,2011-02-02,2,2,33,2,5,0,0
...,...,...,...,...,...,...,...,...
1908,2016-04-20,2,20,111,4,16,0,0
1909,2016-04-21,3,21,112,4,16,0,0
1910,2016-04-22,4,22,113,4,16,0,0
1911,2016-04-23,5,23,114,4,16,0,0
1912,2016-04-24,6,24,115,4,16,0,0

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30]
[0 1 2 3 4]

In [18]:
calendar['day_of_week'] = calendar.date.apply(lambda x: x.dayofweek / 6.0 - 0.5)
calendar['day_of_month'] = calendar.date.apply(lambda x: x.day / 30.0 - 0.5) 
calendar['day_of_year'] = calendar.date.apply(lambda x: x.dayofyear / 364.0 - 0.5)
calendar['month_of_year'] = calendar.date.apply(lambda x: x.month / 11.0 - 0.5)
calendar['week_of_year'] = calendar.date.apply(lambda x: x.weekofyear / 51.0 - 0.5)

calendar['event_name_1'] = calendar.event_name_1.apply(lambda x: x / calendar.event_name_1.max() - 0.5)
calendar['event_type_1'] = calendar.event_type_1.apply(lambda x: x / calendar.event_type_1.max() - 0.5)

display(calendar)

,date,day_of_week,day_of_month,day_of_year,month_of_year,week_of_year,event_name_1,event_type_1
0,2011-01-29,0.333333,0.466667,-0.420330,-0.409091,-0.421569,-0.5,-0.5
1,2011-01-30,0.500000,0.500000,-0.417582,-0.409091,-0.421569,-0.5,-0.5
2,2011-01-31,-0.500000,0.533333,-0.414835,-0.409091,-0.401961,-0.5,-0.5
3,2011-02-01,-0.333333,-0.466667,-0.412088,-0.318182,-0.401961,-0.5,-0.5
4,2011-02-02,-0.166667,-0.433333,-0.409341,-0.318182,-0.401961,-0.5,-0.5
...,...,...,...,...,...,...,...,...
1908,2016-04-20,-0.166667,0.166667,-0.195055,-0.136364,-0.186275,-0.5,-0.5
1909,2016-04-21,0.000000,0.200000,-0.192308,-0.136364,-0.186275,-0.5,-0.5
1910,2016-04-22,0.166667,0.233333,-0.189560,-0.136364,-0.186275,-0.5,-0.5
1911,2016-04-23,0.333333,0.266667,-0.186813,-0.136364,-0.186275,-0.5,-0.5
1912,2016-04-24,0.500000,0.300000,-0.184066,-0.136364,-0.186275,-0.5,-0.5

In [19]:
calendar = calendar.values[:, 1:].astype(np.float32)
print(calendar.shape)

(1913, 7)

In [20]:
np.save(os.path.join('datasets', 'm5-forecasting-accuracy', 'calendar.npy'), calendar)